* {
    box-sizing: border-box;
}

.fllex {
    display: flex;
    flex-direction: row;
}

.spacinng {
    padding-left: 50px;
}

.space-page {
    padding-top: 20px;
}
.border {
    height: 35px;
    border-radius: 100px;
    display: flex;
    z-index: 3;
    height: 44px;
    background: #fff;
    border: 1px solid transparent;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    border-radius: 24px;
    margin: 0 auto;
    width: 670px;
}

.pad-left {
    padding-left: 200px;
}

.searchh {
    background-color: transparent;
    border: none;
    margin: 0;
    padding-top: 55px;
    padding-left: 10px;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    margin-top: -37px;
    font-size: 16px;
    margin-top: -42px
}

.searchh {
    background-color: transparent;
    border: none;
    margin: 0;
    padding-top: 55px;
    padding-left: 10px;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    margin-top: -37px;
    font-size: 16px;
    margin-top: -42px
}

.image-styling {
    border-radius: 5px;
}

.search11 {
    background-color: transparent;
    border: none;
    margin: 0;
    padding-top: 50px;
    padding-left: 300px;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    margin-top: -37px;
    font-size: 16px;
    margin-top: -42px
}

.border-color {
    background-color: rgba(226,238,255,0.5);
}

.searchh1 {
    background-color: transparent;
    border: none;
    margin: 0;
    padding-top: 55px;
    padding-left: 10px;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    margin-top: -37px;
    font-size: 16px;
    margin-top: -42px
}

.searchh12 {
    background-color: transparent;
    border: none;
    margin: 0;
    padding-top: 38px;
    padding-left: 10px;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    margin-top: -37px;
    font-size: 16px;
    margin-top: -42px
}

.google-style {
    height: 33px;
    width: 92px;
}

.search-by-voice {
    height: 24px;
    width: 24px;
}

.signin {
    color: white;
    background: #1a73e8;
    border: 1px solid transparent;
    font-family: Google Sans,Roboto,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.25px;
    line-height: 16px;
    padding: 9px 15px;
    text-align: center;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.span2 {
    display: inline-block;
    fill: currentColor;
}

.span1 {
    margin-right: 5px;
    vertical-align: text-bottom;
}

.pad1-left {
    padding-left: 250px;
}

.tools {
    border: 1px solid transparent;
    text-align: center;
    border-radius: 2px;
    line-height: 19px;
    cursor: pointer;
    font-size: 14px;
    font-family: "Google Sans", arial, sans-serif;
}

.svg-items {
    height: 16px;
    width: 16px;
}

.blue-line {
    background: #1a73e8;
    width: 35px;
    height: 3px;
    margin-top: 11px;
}

.span3 {
    margin-left: -4px;
    vertical-align: text-bottom;
}

.span4 {
    display: inline-block;
    fill: currentColor;
    height: 24px;
    line-height: 24px;
    position: relative;
    width: 24px;
}

.space-font {
    font-size: 14px;
    color: black;
}

.space-font-blue {
    font-size: 14px;
    color: blue;
}

#about-result {
    font-family:Google Sans,arial,sans-serif;
    color: #70757a;
    line-height: 43px;
    padding-right: 8px;
    font-size: 14px;
    padding-bottom: 35px;
}
.lionel1 {
    padding-bottom: 700px;
}

.lionel-messi {
    color: #202124;
    font-family: Google Sans,arial,sans-serif-medium,sans-serif;
    font-size: 28px;
    line-height: 36px;
}

.section_1 {
    display: flex;
}

.section1-1 {
    border: 1px solid blue;
    border-radius: 100px;
    background-color: #C2DBFF;
    width: 100px;
    height: 40px;
}

.section1-3 {
    border: 1px solid #C2DBFF;
    border-radius: 100px;
    background-color: #C2DBFF;
    width: 70px;
    height: 40px;
}

.section1-4 {
    border: 1px solid #C2DBFF;
    border-radius: 100px;
    background-color: #C2DBFF;
    width: 80px;
    height: 40px;
}

.footballer {
    color: #5F6368;
    display: inline-block;
    font-family: arial,sans-serif;
    font-size: 14px;
    line-height: 22px;
}

.spaciing {
    padding-left: 40px;
}

.spaciing1 {
    padding-left: 20px;
}
.section1-2 {
    align-items: center;
    color: #0060F0;
    font-size: 14px;
    padding-left: 20px;
    font-family: Google Sans,arial,sans-serif;
    line-height: 30px;
}

.image-widthh {
    width: 303px;
    height: 315px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.border-radius-styling {
    border-bottom-right-radius: 25px;
}

.image-width1 {
    width: 253px;
    border-top-right-radius: 25px;
}

.image-width {
    width: 253px;
    height: 300px;
}

.flex2 {
    display: flex;
    padding-top: 30px;
}

.flex3 {
    padding-left: 2px;
}

.argentina-worldcup1 {
    border: 1px solid #C2DBFF;
    border-radius: 25px;
    background-color: #C2DBFF;
    width: 259px;
    height: 300px;
    padding-left: 20px;
}
.argentina-worldcup {
    padding-left: 25px;
}

.argentina1-worldcup {
    padding-left: 35px;
}

.age {
    border: 1px solid #C2DBFF;
    border-radius: 25px;
    background-color: #C2DBFF;
    width: 120px;
    height: 130px;
}

.age2 {
    padding-right: 10px;
    font-family: Google Sans,arial,sans-serif;
    font-size: 14px;
    line-height: 15px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    color: black;
}

.agge2 {
    padding-right: 10px;
    font-family: Google Sans,arial,sans-serif;
    font-size: 14px;
    line-height: 15px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    color: black;
}

.forbes {
    height: 150px;
    border-radius: 100px;
    display: flex;
    z-index: 3;
    background: #fff;
    border: 1px solid transparent;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    border-radius: 24px;
    margin: 0 auto;
    width: 255px;
}

.image-width2 {
    padding-top: 30px;
    font-family: Google Sans,arial,sans-serif;
    font-size: 20px;
    line-height: 24px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.stats {
    padding-top: 5px;
    font-family: Google Sans,arial,sans-serif;
    font-size: 14px;
    line-height: 24px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal
}

.stats1 {
    color: black;
    padding-top: 5px;
    font-family: Google Sans,arial,sans-serif;
    font-size: 14px;
    line-height: 24px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal
}

.forbes1-logo {
    width: 65px;
    padding-top: 5px;
}

.forbesnews {
    font-size: 16px;
    color: black;
}


.about {
    display: flex;
}

.top-stories {
    color: black;
    font-size: 22px;
    font-family: arial, sans-serif;
    font-weight: 400;
    line-height: 24px;
    padding-left: 160px;
    display: block;
}

a {
    text-decoration: none;
}

.about-worldcup1 {
    text-decoration: none;
}

.about-worldcup {
    color: black;
    font-size: 18px;
    font-family: arial, sans-serif;
    font-weight: 400;
    line-height: 24px;
    padding-left: 160px;
    display: block;
}

.about-worldcup2 {
    color: black;
    font-size: 18px;
    font-weight: 400;
    font-family: Arial, sans-serif;
    line-height: 24px;
}

.different-news {
    display: flex;
    padding-left: 160px;
}

.different1-news {
    color: #1a0dab;
    cursor: pointer;
    font-family: arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration-thickness: auto;
}

.different2-news {
    color:  #681da8;
    cursor: pointer;
    font-family: arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration-thickness: auto;
}

.different3-news {
    padding-left: 20px;
}

.vertical-line {
    border-left: 3px solid whitesmoke;
    height: 1200px;
}

.about-lionelmessi {
    padding-left: 30px;
    font-size: 14px;
    font-family: arial, sans-serif;
    line-height: 22.12px;
    display: block;
}

.knowledge-panel {
    display: flex;
    gap: 30px;
}

.claim-knowledge {
    padding-left: 8px 16px 8px 36px;
    line-height: 1.58;
    background: #fff;
    border: 1px solid transparent;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    border-radius: 24px;
    height: 27px;
    width: 250px;
    color: black;
    
}

.feedback {
    font-size: 12px;
    text-align: right;
    color: black;
    padding-top: 20px;
}

.spacing-down {
    padding-top: 30px;
}

.spacing {
    padding-left: 160px;
}

.peoplealso-search {
    border: 2px solid whitesmoke;
    max-width: 400px;
}
.spacing1-flex {
    padding-left: 10px;
}

.spacing-flex {
    padding-left: 30px;
}

.peoplealso-ask {
    color: #202124;
    font-size: 22px;
    line-height: 24px;
}
.time {
    font-size: 14px;
    font-weight: normal;
    color: #70757a;
    line-height: 16px;
}

.image-spacing {
    padding-left: 15px;
}

#about1 {
    font-size: 18px;
    color: black;
    line-height: 24px;
}

.span-ago  {
    color: #70757a;
    font-size: 12px;
}

.more-news {
    font-size: 14px;
    font-weight: 400;
    font-family: arial, sans-serif;
    text-align: center;
}

.more-news1 {
    color: black;
    font-style: normal;
    
}

.more-news3 {
    color: rgb(26, 13, 171);
    font-size: 20px;
    font-weight: 400;
}
