* {
    box-sizing: border-box;
}

.tools {
    border: 1px solid transparent;
    text-align: center;
    border-radius: 2px;
    line-height: 19px;
    cursor: pointer;
    margin-left: -1px;
    padding: 4px 11px;
    margin-right: -11px;
}

#about-result {
    font-family:Google Sans,arial,sans-serif;
    color: #70757a;
    line-height: 43px;
    padding-top: 0px;
    padding-bottom: 0;
    padding-right: 8px;
    font-size: 14px;
}

#lionel-messi {
    color: #202124;
    font-family: Google Sans,arial,sans-serif-medium,sans-serif;
    font-size: 28px;
    line-height: 36px;
}

.section_1 {
    display: flex;
}

.section1-1 {
    border: 1px solid blue;
    border-radius: 100px;
    background-color: #C2DBFF;
    width: 100px;
    height: 40px;
}
.section1-3 {
    border: 1px solid #C2DBFF;
    border-radius: 100px;
    background-color: #C2DBFF;
    width: 70px;
    height: 40px;
}

.section1-4 {
    border: 1px solid #C2DBFF;
    border-radius: 100px;
    background-color: #C2DBFF;
    width: 80px;
    height: 40px;
}
.footballer {
    color: #5F6368;
    display: inline-block;
    font-family: arial,sans-serif;
    font-size: 14px;
    line-height: 22px;
}

.spaciing {
    padding-left: 40px;
}

.spaciing1 {
    padding-left: 20px;
}
.section1-2 {
    align-items: center;
    color: #0060F0;
    font-size: 14px;
    padding-left: 20px;
    font-family: Google Sans,arial,sans-serif;
    line-height: 30px;
}

.image-width1 {
    width: 253px;
}

.image-width {
    width: 253px;
    height: 300px;
}

.flex2 {
    display: flex;
    padding-top: 30px;
}

.flex3 {
    padding-left: 2px;
}
.argentina-worldcup {
    border: 1px solid #C2DBFF;
    border-radius: px;
    background-color: #C2DBFF;
    width: 253px;
    height: 300px;
    padding-left: 95px;
}

.age {
    border: 1px solid #C2DBFF;
    border-radius: px;
    background-color: #C2DBFF;
    width: 253px;
    height: 300px;
    padding-left: 95px;
}
.image-width2 {
    padding-top: 30px;
    font-family: Google Sans,arial,sans-serif;
    font-size: 20px;
    line-height: 24px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
}


.about {
    display: flex;
}

.top-stories{
    color: black;
    font-size: 22px;
    font-family: arial, sans-serif;
    font-weight: 400;
    line-height: 24px;
    padding-left: 160px;
    display: block;
}

a {
    text-decoration: none;
}
.about-worldcup1 {
    text-decoration: none;
}
.about-worldcup {
    color: black;
    font-size: 18px;
    font-family: arial, sans-serif;
    font-weight: 400;
    line-height: 24px;
    padding-left: 160px;
    display: block;
}

.about-worldcup2 {
    color: black;
    font-size: 18px;
    font-weight: 400;
    font-family: Arial, sans-serif;
    line-height: 24px;
}

.different-news {
    display: flex;
    padding-left: 160px;
}

.different1-news {
    color: #1a0dab;
    cursor: pointer;
    font-family: arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration-thickness: auto;
}

.different2-news{
    color:  #681da8;
    cursor: pointer;
    font-family: arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration-thickness: auto;
}

.different3-news {
    padding-left: 20px;
}

.vertical-line {
    border-left: 3px solid whitesmoke;
    height: 1500px;
}

.about-lionelmessi {
    padding-left: 30px;
    font-size: 14px;
    font-family: arial, sans-serif;
    line-height: 22.12px;
    display: block;
}

.knowledge-panel {
    display: flex;
    gap: 30px;
}

.claim-knowledge {
    padding-left: 8px 16px 8px 36px;
    color:  #4d5156;
    line-height: 1.58;
    border: 1px solid grey;
    height: 27px;
    border-radius: 10px;
}

.feedback {
    font-size: 12px;
    text-align: right;
    color: black;
    padding-top: 20px;
}

.spacing-down {
    padding-top: 30px;
}

.spacing {
    padding-left: 160px;
}

.peoplealso-search {
    border: 1px solid black;
    max-width: 500px;
}
.spacing1-flex {
    padding-left: 10px;
}

.spacing-flex {
    padding-left: 30px;
}

.peoplealso-ask {
    color: #202124;
    font-size: 22px;
    line-height: 24px;
}
.time {
    font-size: 14px;
    font-weight: normal;
    color: #70757a;
    line-height: 16px;
}

.image-styling {
    border-radius: 5px;
}

.image-spacing {
    padding-left: 15px;
}

#about1 {
    font-size: 18px;
    color: black;
    line-height: 24px;
}

span  {
    color: #70757a;
    font-size: 12px;
}

.more-news {
    font-size: 14px;
    font-weight: 400;
    font-family: arial, sans-serif;
    text-align: center;
}

.more-news1 {
    color: black;
    font-style: normal;
    
}

.more-news3 {
    color: rgb(26, 13, 171);
    font-size: 20px;
    font-weight: 400;
}


