.news-spacing {
    padding-bottom: 40px;
}

.flex {
    display: flex;
}

.videos {
    font-size: 22px;
    line-height: 24px;
    font-family: Arial, sans-serif;
    font-weight: 400;
}

.video-writeup {
    color: rgb(26, 13, 171);
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.youtube {
    color: #202124;
    font-style: normal;
    font-size: 14px;
}

.about-messi2 {
    font-weight: 400;
    color: black;
}

.background {
    background: url('https://www.google.com/images/nav_logo321.webp')
}
.blue,
.red,
.yellow {
    color: blue;
    font-size: 15px;
}

.about-Messi2 {
    border: 1px solid #e5f1f5;
    border-radius: 15px;
    background-color: #e5f1f5;
    max-width: none;
    min-height: 40px;
    font-size: 16px;
}

.space-between{
    padding-left: 20px;
}

ol {
    list-style: none;
    display: flex;
    padding-left: 400px;
    padding-left: 10px;
}

.spacing1 {
    padding-left: 400px;
}

.spacing2 {
    padding-left: 30px;
}

.spacing3 {
    padding-left: 15px;
}

.spacing4 {
    padding-bottom: 30px;
}

.hyperlink-color {
    color: #4285f4;
}

.related-searches {
    color: #202124;
    font-size: 16px;
    font-weight: 400;
    font-family: arial, sans-serif;
    line-height: 20px;
}

.horizontal-line {
    border: 2px solid whitesmoke;
    max-width: 700px;
}

.feedBack {
    text-align: center;
}
