.news-spacing {
    padding-bottom: 40px;
}

.flex {
    display: flex;
}

.videos {
    font-size: 22px;
    line-height: 24px;
    font-family: Arial, sans-serif;
    font-weight: 400;
}

.video-writeup {
    color: rgb(26, 13, 171);
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.youtube {
    color: #202124;
    font-style: normal;
    font-size: 14px;
}

.about-messi2 {
    font-weight: 400;
    color: black;
}

.blue,
.red,
.yellow {
    color: blue;
    font-size: 15px;
}

.black1 {
    color: #202124;
}

.search1-icon {
    padding-top: 5px;
    padding-left: 10px;
}

.about-Messi2 {
    border: 1px solid transparent;
    border-radius: 24px;
    background-color: #e5f1f5;
    width: 300px;
    font-size: 16px;
    padding-bottom: 5px;
}

.about-Messi3 {
    border: 1px solid transparent;
    border-radius: 24px;
    background-color: #e5f1f5;
    max-width: 200px;
    font-size: 16px;
    padding-bottom: 5px;
    text-align: center;
}

.image-styling1 {
    width: 50px;
    height: 42px;
    background-color: rgba(0,0,0,.03);
    border-radius:4px 4px 4px 4px;
}

.profiles {
    color: #202124;
    font-size: 14px;
    line-height: 1.34;
}

.foot-baller {
    width: 92px;
    height: 92px;
    background-color: rgba(0,0,0,.03);
    border-radius:5px 5px 5px 5px;
}

.profile {
    color: #202124;
    font-size: 14px;
    line-height: 1.34;
    padding-left: 15px;
}

.space-inbtwn {
    padding-left: 20px;
}
.space-between{
    padding-left: 40px;
}

ol {
    list-style: none;
    display: flex;
    padding-left: 400px;
    padding-left: 10px;
}

.spacing1 {
    padding-left: 400px;
}

.spacing2 {
    padding-left: 100px;
}

.spacing3 {
    padding-left: 10px;
}

.spacing4 {
    padding-bottom: 30px;
}

.spacing5 {
    padding-left: 0;
}

.spacing6 {
    padding-left: 8px;
}

.hyperlink-color {
    color: #4285f4;
}

.related-searches {
    color: #202124;
    font-size: 16px;
    font-weight: 400;
    font-family: arial, sans-serif;
    line-height: 20px;
}

.horizontal-line {
    border: 2px solid whitesmoke;
    max-width: 700px;
}

.horizontal-line1 {
    border: 2px solid whitesmoke;
    max-width: 400px;
}


.feedBack {
    padding-left: 540px;
    color: #70757a;
    display: flex;
    font-size: 12px;
    font-style: normal;
}


.aboutmesSi {
    color: #70757a;
    font-family: arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.a-one { 
    color: #1a0dab;
}


.span-details {
    font-size: 16px;
    line-height: 24px;
    padding: 0 8px 0 0;
    font-family: arial, sans-serif;
    font-weight: 400;
    color: rgb(32, 33, 36);
}

.span-details1{
    font-size: 14px;
    font-weight: 400;
    font-family: arial, sans-serif;
    color: black;
}

.span-details2 {
    color: rgb(26, 13, 171);
    font-size: 20px;
    font-weight: 400;
    font-family: arial,sans-serif;
}

.span-details3 {
    font-size: 16px;
    font-family: arial, sans-serif;
    font-weight: 400;
}

.googledesign-logo {
    width: 28px;
}

.googledesign-logo1 {
    width: 18px;

}


.googledesign-logo2 {
    height: 19px;
 }




.black {
    color: black;
    font-weight: bold;
}
.span-footer {
    color: #1a0dab;
    font-size: 14px;
    font-family: arial, sans-serif;
}

.background-style {
    background: #f2f2f2;
    line-height: 40px;
    padding-bottom: 12px;
}

.black2 {
    color: #70757a;
}